/bgfxTemplate.sdf
/bgfxTemplate.v12.suo
/bin/bgfxTemplate_x64_Release.exe
/bin/bgfxTemplate_x64_Release.pdb
/obj/x64/Release/amalgamated.obj
/obj/x64/Release/bgfxTemplate.log
/obj/x64/Release/bgfxTemplate.tlog/CL.read.1.tlog
/obj/x64/Release/bgfxTemplate.tlog/CL.write.1.tlog
/obj/x64/Release/bgfxTemplate.tlog/bgfxTemplate.lastbuildstate
/obj/x64/Release/bgfxTemplate.tlog/cl.command.1.tlog
/obj/x64/Release/bgfxTemplate.tlog/link.command.1.tlog
/obj/x64/Release/bgfxTemplate.tlog/link.read.1.tlog
/obj/x64/Release/bgfxTemplate.tlog/link.write.1.tlog
/obj/x64/Release/bgfxTemplate_x64_Release.Build.CppClean.log
/obj/x64/Release/main.obj
/obj/x64/Release/vc120.pdb
/bgfxTemplate.opensdf
/bin/bgfxTemplate_x64_Debug.exe
/bin/bgfxTemplate_x64_Debug.ilk
/bin/bgfxTemplate_x64_Debug.pdb
/obj/x64/Debug/amalgamated.obj
/obj/x64/Debug/bgfxTemplate.log
/obj/x64/Debug/bgfxTemplate.tlog/CL.read.1.tlog
/obj/x64/Debug/bgfxTemplate.tlog/CL.write.1.tlog
/obj/x64/Debug/bgfxTemplate.tlog/bgfxTemplate.lastbuildstate
/obj/x64/Debug/bgfxTemplate.tlog/cl.command.1.tlog
/obj/x64/Debug/bgfxTemplate.tlog/link.command.1.tlog
/obj/x64/Debug/bgfxTemplate.tlog/link.read.1.tlog
/obj/x64/Debug/bgfxTemplate.tlog/link.write.1.tlog
/obj/x64/Debug/main.obj
/obj/x64/Debug/vc120.idb
/obj/x64/Debug/vc120.pdb
